<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{.Title}}</title>
</head>
<body>
    {{/*INI ADALAH KOMENTAR*/}}
    <h1>{{.Name}}</h1>
    {{with .Address}}
        <h2>Address Street : {{.Street}}</h2>
        <h2>Address City : {{.City}}</h2>
    {{else}}
        <h1>Anda Tidak Punya Alamat</h1>
    {{end}}
</body>
</html>